/* Layout css */

body {
	overflow: hidden;
	background-color: grey;
}


iframe {
	height: 100%;
	width: 100%;
}

.column {
	height: 1080px;
	float: left;
}

.webtv {
	height: 1080px;
	width: 1920px;
	background-color: #f0f0f0;
}

.left,  .right {
	width: 320px;
}

.middle {
	width: 1280px;
}

.middle .info {
	height:  180px;
	text-align: center;
}

.middle .info h2 {
	font-size: 42px;
	font-family: verdana;
	margin: 10px 0;
}

.middle .iframeContainer {
	height: 700px;
}

.middle .eventContainer {
	
}

.box {
	height: 180px;
	width: 320px;
}


button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #000000;
	padding: 8px 16px;
	background: -moz-linear-gradient(
		top,
		#787878 0%,
		#e6e6e6 50%,
		#dbdbdb);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#787878),
		color-stop(0.50, #e6e6e6),
		to(#dbdbdb));
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #707070;
	-moz-box-shadow:
		0px 0px 5px rgba(000,000,000,0),
		inset 0px 0px 9px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 0px 5px rgba(000,000,000,0),
		inset 0px 0px 9px rgba(255,255,255,1);
	box-shadow:
		0px 0px 5px rgba(000,000,000,0),
		inset 0px 0px 9px rgba(255,255,255,1);
	text-shadow:
		0px 0px 5px rgba(000,000,000,0),
		0px 0px 5px rgba(255,255,255,1);
}


/** START of SonarViewer CSS **/

.widget {
	width: 320px;
	height: 180px;
	background-color: rgb(71, 71, 71);
	font-family: Verdana;
	font-size: 30px;
	color: white;
}
.widget	.item {
	padding-left : 5px;
}

.widget .title,
.widget .infos,
.widget .numbers,
.widget .diff {
	display: inline-block;
}

.widget .infos {
	float: right;
	padding-right: 10px;
}


.widget .item .diff {
	padding-left: 5px;
}

.widget span  {
	float: right;
}


@-webkit-keyframes blink {
    0% { background-color: red; }
    100% { background-color: rgb(71, 71, 71); }
}
.blink {
    -webkit-animation: blink 1s linear infinite;
} 

.red {
	color: red;
}
.green {
	color: rgb(0, 219, 0);
}

/** END of SonarViewer CSS **/
